<!DOCTYPE html>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
    <p>El juego de preguntas y respuestas más divertido que existe!</p>
    <p><a href="/quizes">Comience a jugar</a></p>
    <br>
