*
{ margin: 0; padding: 0; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#page-wrap
{ margin: 2% auto; color: white; }
#page-wrap > .main
{
  border: 1px solid #999;
  padding: 1%;
  margin-bottom: 1px;
  color: black;
}
section > div
{ padding: 20px; }

section
{ background: #F1ECE9; text-align: center;}
header,nav,footer
{ background: #EAE5E5; text-align: center;}


nav span
{
width: 100%;
margin: 0px 10px 0px 0px;
display: inline-block;
}
#ErrorMsgs{
  color:#f61;font-size:smaller
}

a {
  color: #141426;
}
