<!DOCTYPE html>
    <h2>Quiz: El juego de las preguntas</h2>
  <p>
   <%=respuesta%>
 </p>
<p>
   <!--<a href="/quizes/question">Inténtelo otra vez</a>-->
   <a href="/quizes/<%= quiz.id %>">Volver</a>
 </p>
