<table>
<% var i; for (i=0;i<quizes.length;i++) {%>
<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<%}%>


<a href="/quizes/new">Crear nueva pregunta</a>
</table>
