<!DOCTYPE html>
    <h2>Quiz: El juego de las preguntas</h2>
    <form method="get" action="/quizes/answer">
      <p>  Pregunta1: <%=pregunta%> </p>
      <p><input type="text" name="respuesta" value="Responda aquí" /></p>
      <p><br></p>
      <p><input type="submit" value="Enviar"></p>
    </form>
