<form method='get' action='/quizes/<%= quiz.id %>/answer'>
  <p>Pregunta: <%= quiz.pregunta %> </p>
  <br>
  <p><input type="text" name="respuesta" value=""></p>
  <br>
  <p><input type="submit" value="Enviar"> </p>
</form>

<br><br>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>
<br><br>
<p><strong>Comentarios:</strong></p>
<%for(index in quiz.Comments){%>
			<p>- <%=quiz.Comments[index].texto%>
<%}%>
