<p>Identificar usuario: </p>
<p>
    <form method="post" action="/login" >
      <p>
        <label for="login" class="rem">Usuario:</label>
        <input type="text" id="login" name="login" /><p>
      </p>
      <p>
        <label for="password" class="rem">Contraseña:</label>
        <input type="password" id="password" name="password"/> <p>
      </p>
      <p>
        <a href="/"><button type="button">Cancelar</button></a>
        <input type="submit" value="Enviar">
      </p>
    </form>
</p>
